body {
  background: #202020;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  align-items: center;
}
.nav__list {
  width: 100%;
}
.nav--item {
  padding: 0 30px;
  list-style: none;
  color: #d2d0db;
  transition: color 0.3s;
}
.nav--item:hover {
  color: #fff;
}
li {
  list-style: none;
  text-decoration: none;
}
